body {
        font-family: 'Open Sans';
        font-weight: Bold;
    }


/* general */
.flex {
    display: flex;
    gap: var(--asdf, 5rem);


}
/* main */


    /* header navigationn bar */


.mainffw {
        font-size: 40px;
        color: 4c629e;
        font-weight: Bold;
        font-style: italic;
        text-align: center;
        margin: 1%;
    }

.ffwdesc {
        font-size: 40px;
        color: 1f1e33;
        margin: 1%;
        text-align: center;
    }



/* id */
    

#jekoimage {
        margin: 0%;
        position: absolute;
        left: 5%;
       
    }

#jekotitle {
        font-size: 40px;
        color: 4c629e;
        text-align: center;
        font-style: italic;
        margin: 1%;
        position: relative;
    }